{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Cart</title>
</head>
<body class="bg-gray-100">
    {% if cart %}
    <div class="container mx-auto mt-10">
        <div class="flex shadow-md my-10">
            <div class="w-3/4 bg-white px-10 py-10">
                <div class="flex justify-between border-b pb-8">
                    <h1 class="font-semibold text-2xl">Shopping Cart</h1>
                    <h2 class="font-semibold text-2xl">{{ cart.items.count }} Items</h2>
                </div>
                <div class="flex mt-10 mb-5">
                    <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
                    <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Quantity</h3>
                    <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
                    <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
                </div>
                {% for item in cart.items.all %}
                <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                    <div class="flex flex-col w-2/5">
                        <div class="">
                            <img class="w-[200px] " src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        </div>
                        <div class="flex flex-col justify-between ml-4 flex-grow">
                            <span class="font-bold text-sm">{{ item.product.name }}</span>
                            <span class="text-red-500 text-xs">{{ item.product.description }}</span>
                            <a href="{% url 'remove_from_cart' item.id %}" class="font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</a>
                        </div>
                    </div>
                    <div class="flex justify-center w-1/5">
                        <a href="{% url 'update_cart_quantity' item.id item.quantity|add:-1 %}">
                            <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32s14.33 32 32 32h384c17.67 0 32-14.33 32-32s-14.33-32-32-32z"/></svg>
                        </a>
                        <input class="mx-2 border text-center w-8" type="text" value="{{ item.quantity }}">
                        <a href="{% url 'update_cart_quantity' item.id item.quantity|add:1 %}">
                            <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32s-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32s14.33 32 32 32h176v144c0 17.67 14.33 32 32 32s32-14.33 32-32V272h144c17.67 0 32-14.33 32-32s-14.33-32-32-32z"/></svg>
                        </a>
                    </div>
                    <span class="text-center w-1/5 font-semibold text-sm">${{ item.product.price }}</span>
                    <span class="text-center w-1/5 font-semibold text-sm">${{ item.quantity|mul:item.product.price }}</span>
                </div>
                {% endfor %}
                <a href="{% url 'tft_list' %}" class="flex font-semibold text-indigo-600 text-sm mt-10">
                    <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512"><path d="M134.059 296H432c8.837 0 16-7.163 16-16s-7.163-16-16-16H134.059l105.017-97.941c6.248-5.83 6.634-15.568.805-21.816s-15.568-6.634-21.816-.805l-136 127.987c-3.122 2.938-4.865 6.992-4.865 11.375s1.743 8.437 4.865 11.375l136 127.987c6.248 5.83 16.002 5.442 21.816-.805s5.442-16.002-.805-21.816L134.059 296z"/></svg>
                    Continue Shopping
                </a>
            </div>
            <div id="summary" class="w-1/4 px-8 py-10">
                <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
                <div class="flex justify-between mt-10 mb-5">
                    <span class="font-semibold text-sm uppercase">Items {{ cart.items.count }}</span>
                    <span class="font-semibold text-sm">${{ cart.items.all|sum_total }}</span>
                </div>
                <div>
                    <label class="font-medium inline-block mb-3 text-sm uppercase">Shipping</label>
                    <select class="block p-2 text-gray-600 w-full text-sm">
                        <option>Standard shipping - $10.00</option>
                    </select>
                </div>
                <div class="py-10">
                    <label for="promo" class="font-semibold inline-block mb-3 text-sm uppercase">Promo Code</label>
                    <input type="text" id="promo" placeholder="Enter your code" class="p-2 text-sm w-full">
                </div>
                <button class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase">Apply</button>
                <div class="border-t mt-8">
                    <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                        <span>Total cost</span>
                        <span>${{ cart.items.all|sum_total }}</span>
                    </div>
                    <button class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">Checkout</button>
                </div>
            </div>
        </div>
        {% else %}
        <div>
            Your Cart is empty
        </div>
        {% endif %}
    </div>
</body>
</html>