{% extends 'account/_base.html' %}
{% block content %}

<h1 class="font-bold mb-10 tracking-wide flex items-center justify-center pt-20 text-5xl">TFT Screens</h1>

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-3 lg:gap-5">
    {% for tft in tfts %}
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
        <a href="{% url 'tft_details' tft.pk %}">
            <img class="rounded-t-lg h-[350px] w-[450px]" src="{{ tft.image.url }}" alt="{{ tft.name }}"/>
        </a>
        <div class="p-5">
            <a href="{% url 'tft_details' tft.pk %}">
                <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900">{{ tft.name }}</h5>
            </a>
            <p class="mb-5 text-xl font-bold text-gray-900">Ksh {{ tft.price }}</p>
            <form method="POST" action="{% url 'add_to_cart' tft.id %}" class="inline">
                {% csrf_token %}
                <input type="hidden" name="product_type" value="tfts">
                <button type="submit" class="add-to-cart-btn inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                    Add To Cart
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<script>
document.querySelectorAll('.add-to-cart-btn').forEach(btn => {
    btn.addEventListener('click', function(event) {
        event.preventDefault();
        const form = this.closest('form');
        const formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => response.json())
        .then(data => {
            updateCartIcon(data.cart_items_count);
        })
        .catch(error => {
            console.error('Error adding to cart:', error);
        });
    });
});

function updateCartIcon(cartItemsCount) {
    const cartIcon = document.getElementById('cart-icon');
    if (cartIcon) {
        cartIcon.textContent = cartItemsCount;
        console.log("Cart Icon: ",cartItemsCount)
    } else {
        console.error('cart-icon element not found');
    }
}
</script>

{% endblock content %}